:root {
    --dark-blue: #00008B;
    --white: #ffffff;
    --black: #000000;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --primary-color: #1e90ff;
    --secondary-color: #ff6347;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Arial', sans-serif;
    background-image: url('../img/fondo.gif');
}

#contenedor {   
    display: flex;   
    grid-template-columns: repeat(3, 1fr);   
    gap: 10px;   
    width: 90%; /* Match the width of the background image */
    padding: 10px 10px;  
    margin: 0 auto;   
}

.contenedor-titulo {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../img/pexels-lucaspezeta-2034892.jpg');
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    padding: 10px 10px;
    color: var(--white);
    box-shadow: 0 4px 8px var(--box-shadow);
}

.contenedor-titulo h3 {
    color: var(--white);
}

div h4 {
    text-align: center;
}

#tierra {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    margin: 20px auto;
    display: block;
}

.table th {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
}

.table td {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    color: var(--white);
}

.tooltip-inner {
    font-family: 'Arial', sans-serif;
    font-size: 0.875rem;
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
}

.card-img-small {
  width: 90%;
  height: auto;
}

.nav-tabs .nav-link {
    color: var(--white);
}

.nav-tabs .nav-link.active {
    background-color: var(--dark-blue);
    color: var(--white);
}

.card {
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    width: 45rem;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

blockquote {
    border-left: 5px solid var(--primary-color);
    padding-left: 10px;
    margin-left: 0;
    color: var(--primary-color);
}

blockquote .blockquote-footer {
    color: var(--secondary-color);
}

.alert {
    /*background-color: var(--dark-blue);*/
    color: var(--black);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
}

.carousel-item img {
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
}

a {
    text-decoration: none;
}

.navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

footer {
    padding: 10px 0;
    position: grid;
    bottom: 0;
    width: 100%;
}